<div class="container-fluid align-self-center h-100">


  <div class="row justify-content-center align-items-center h-100" >         
 
   <form class="form-signin col-sm-4 col-lg-3" [formGroup]="form">
      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Acesse</h1>
      <label for="inputEmail" class="sr-only">E-mail</label>
      <input  type="email" formControlName="user"  class="form-control" placeholder="E-mail" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input style="margin-top: 5px;" type="password" formControlName="password"  class="form-control" placeholder="Senha" required>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-secondary btn-block" (click)="doLogin()">Conectar</button>
      <p class="mt-5 mb-3 text-muted">&copy;2018</p>
    </form>
</div>

</div>
