.card-primary {
  border-color: #337ab7;
}
.card-primary > .card-heading {
  border-color: #337ab7;
  color: white;
  background-color: #337ab7;
}
.card-primary > a {
  color: #337ab7;
}
.card-primary > a:hover {
  color: #23527c;
}
.card-green {
  border-color: #5cb85c;
}
.card-green > .card-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.card-green > a {
  color: #5cb85c;
}
.card-green > a:hover {
  color: #3d8b3d;
}
.card-red {
  border-color: #d9534f;
}
.card-red > .card-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.card-red > a {
  color: #d9534f;
}
.card-red > a:hover {
  color: #b52b27;
}
.card-yellow {
  border-color: #f0ad4e;
}
.card-yellow > .card-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.card-yellow > a {
  color: #f0ad4e;
}
.card-yellow > a:hover {
  color: #df8a13;
}